* {
    box-sizing: border-box;
}

@font-face {
    font-family: manrope;
    src: url(./font/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: darker;
    src: url(./font/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}

.body {
    padding: 10px 15px;
}

.header {
    width: 100%;
    background: #0e0e0f;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content .firstdiv,
.otherside {
    font-family: manrope;
}

.content .firstdiv a {
    font-weight: 600;
}


.content .otherside a {
    padding-left: 40px;
    text-decoration: none;
    color: white;
}

.content .otherside a:hover {
    padding-left: 40px;
    text-decoration: none;
    color: dodgerblue;
    transition: 0.5s ease-in-out;
}

.content .otherside a:last-child {
    padding: 10px 15px;
    background-color: dodgerblue;
    margin-left: 20px;
    color: white;
    border-radius: 10px;
}

.content .otherside a:last-child:hover {
    filter: drop-shadow(0 0 0.3em white);
    transition: 0.5s ease-in-out;
}

.thebodycontent {
    width: 100%;
    margin-top: 100px;
    color: white;
    padding: 0px 50px;
    font-family: darker;
}

.thebodycontent .thecontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thebodycontent .thecontent .firstside {
    width: 40%;
}

.thebodycontent .thecontent .theimage {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: right;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
        background-color: rgba(30, 143, 255, 0.405);
    }

    100% {
        transform: scale(1);
    }
}

.theimage .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: dodgerblue;
    border-radius: 100%;
    animation: pop 1s linear infinite;
    margin-left: -25px;
    z-index: -1000;
}

.theimage .img {
    position: absolute;
    height: 250px;
    width: 250px;

}

.theimage .img img {
    width: 100%;
    margin-top: -60px;
    margin-left: -25px;
}

.firstside h1 {
    font-size: 45px;
    font-family: manrope;
}

.firstside .about span {
    font-family: darker;
}

.getstarted {
    display: block;
    padding: 0;
    margin-top: 30px;
}

.getstarted a {
    padding: 10px 20px;
    background-color: white;
    color: #121213;
    text-decoration: none;
    font-family: manrope;
    border-radius: 10px;
}

.getstarted a:hover {
    filter: drop-shadow(0 0 0.3em dodgerblue);
}

.whatwebuilding {
    margin-top: 200px;
    background-image: url(./public/vois.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 450px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(30, 143, 255, 0.052);
}

.whatwebuilding .thecontent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.whatwebuilding .thecontent .firstsidecontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstsidecontent .it {
    width: 60%;
}

.it h1 {
    font-size: 45px;
    font-family: manrope;
}

.it .writeup {
    width: 50%;
    font-family: darker;
}


.it .button {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.it .button a {
    padding: 10px 20px;
    background-color: white;
    color: dodgerblue;
    text-decoration: none;
    font-family: manrope;
    border-radius: 10px;
}

.firstsidecontent .somedots {
    width: 40%;
    display: flex;
    justify-content: right;
}

.somedots .someline {
    width: 70%;
    transform: rotate(100deg);
}

.someline p {
    letter-spacing: 10px;
    color: dodgerblue;
    text-align: left;
    font-weight: 900;
}


.thecapable {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.thecapable .thecontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thecapable .thecontainer .in {
    position: relative;
    width: 32%;
    background-color: #0c0c0c;
    padding: 15px;
    border-radius: 20px;
}

.thecapable .thecontainer .in:nth-child(2) {
    background-color: rgba(30, 143, 255, 0.052);
}

.in .thenumber {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;

}

.thenumber span {
    text-align: center;
    color: #121213;
    font-family: manrope;
    width: 30px;
    height: 30px;
    background-color: white;
    display: block;
    border-radius: 100px;
    font-weight: 900;
}

.in .whatit {
    margin-top: 40px;
}

.in .whatit h2 {
    color: dodgerblue;
    font-family: manrope;
    font-size: 30px;
}

.in .thewrite {
    margin-bottom: 15px;
    font-family: darker;
}



.thewaitlist {
    width: 100%;
    background-color: rgba(30, 143, 255, 0.045);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.thewaitlist .thewait {
    width: 100%;
    text-align: left;
    color: white;
    padding: 5px 40px;
}

.thewait h1 {
    font-size: 40px;
    font-family: manrope;
}

.butn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.thewait .butn button {
    padding: 10px 20px;
    background-color: white;
    color: dodgerblue;
    border-radius: 10px;
    border: none;
}


